@charset "UTF-8";

/*typical device breakpoints

Desktops: (min-width: 1281px)
Laptops, desktops: (min-width: 1025px) and (max-width: 1280px)
Tablets, ipads: (min-width: 768px) and (max-width: 1024px)
Tablets de baixa resolução, celulares: (min-width: 482px) and (max-width: 767px)
A maioria dos smartphones móveis: (min-width:320px) and (max-width: 480px)

*/

/* @media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 992px) {

} */

:root{
    --blue:#00D2DF;
    --dark:#121212;
    --dark200:#151515;
    --gray-light:#C4C4C4; 
    --light:#FFFFFF;

    --pink:#D24074; 
    --purple:#6518B4;

    --light-purple:#9358F7;
    --light-blue:#10D7E2;


    
    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Righteous', cursive;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    div.cabeçalho{
        display: flex;
        flex-direction: row;
        line-height: 100px;
        margin-left: 30%;
    }

    .menu-link{
        font-family: var(--fonte-padrao);
        font-size: 1rem;
        color: var(--light);
        transition: color .7s;
        padding: 20px;
    }
    
    .menu-link:hover{
        color: var(--blue);
        transition: color .7s;
    }

    div#descricao{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1024px) {
    div.cabeçalho{
        display: flex;
        flex-direction: row;
        line-height: 100px;
        margin-left: 50%;
    }

    .menu-link{
        font-family: var(--fonte-padrao);
        font-size: 1rem;
        color: var(--light);
        transition: color .7s;
        padding: 20px;
    }
    
    .menu-link:hover{
        color: var(--blue);
        transition: color .7s;
    }

    div#descricao{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 30px;
    }
}