:root{
    --dark100: #252627;
    --dark200: #292a2d;

    --light100: #fafafa;
    --light200: #ffffff;

    --font-color1: #cdcdcd;
    --font-color2: #505050;

    --green-blue: #38D7BB;
    --pink: #F60382;
    --white: #F6EDE8;

    --linear1: linear-gradient(to right, #F60382 0%, #F6EDE8 50%, #38D7BB 100%);
    --linear2: linear-gradient(to left, #F60382 0%, #F6EDE8 50%, #38D7BB 100%);

    --fonte-padrao: 'Inter', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    #header-title {
        margin-left: 5rem;
    }

    #hamb-icon i, #hamb-close-icon i {
        display: none;
    }

    .cabeçalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-item {
        margin: 1rem;
    }

    #image-container {
        width: 300px;
        height: 300px;
        margin: 3rem;
        background-image: url("../assets/imagem-legal.jpg");
        background-size: cover;
        border-radius: 20px;
        display: block;
    }

}

@media screen and (min-width: 992px) and (max-width: 2560px){

    #header-title {
        margin-left: 5rem;
    }

    #hamb-icon i, #hamb-close-icon i {
        display: none;
    }

    .cabeçalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-item {
        margin: 1rem;
    }
    
    #text-container {
        width: 30%;

    }

    #main-links {
        margin: 4rem 0 0 0;
    }

    #image-container {
        width: 40%;
        height: 90%;
        max-width: 1000px;
        max-height: 1000px;
        margin: 3rem;
        background-image: url("../assets/imagem-legal.jpg");
        background-size: cover;
        border-radius: 20px;
        display: block;
    }

}

@media screen and (min-width: 2560px) {

    #main-title h2 {
        font-size: 3rem;
    }

    #main-title p {
        font-size: 4rem;
    }


    .link-btn-fundo {
        width: 304px;
        height: 104px;
        border-radius: 10px;
        background: var(--linear1);
        background-size: 200%;
        animation: gradient 5s ease infinite;
    }

    .link-btn {
        width: 300px;
        height: 100px;
        background-color: #252627;
        border-radius: 10px;
        transform: translate(2px,2px);
        transition: .5s;
    }

    .link-btn p {
        font-size: 2rem;
    }

    .link-btn i {
        font-size: 3rem;
        margin-right: 2rem;
    }
}