:root{
    --dark100: #252627;
    --dark200: #292a2d;

    --light100: #fafafa;
    --light200: #ffffff;

    --font-color1: #cdcdcd;
    --font-color2: #505050;

    --green-blue: #38D7BB;
    --pink: #F60382;
    --white: #F6EDE8;

    --linear1: linear-gradient(to right, #F60382 0%, #F6EDE8 50%, #38D7BB 100%);
    --linear2: linear-gradient(to left, #F60382 0%, #F6EDE8 50%, #38D7BB 100%);

    --fonte-padrao: 'Inter', sans-serif;
}

@media screen and (min-width:320px) and (max-width: 767px) {
    #sidebar{
        width: 15rem;
        height: 100vh;
        background-color: var(--dark200);
        box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
        position: fixed;
        z-index: 10;
        top: 0;
        right: -15rem;
        transition: all .8s;
    }
    
    .show-menu#sidebar{
        right: 0;
    }

    #hamb-icon  i{
        padding: 0 .5rem;
        line-height: 50px;
        font-size: 2rem;
        color: var(--green-blue);
        cursor: pointer;
    }

    #hamb-close-icon  i{
        z-index: 11;
        padding: 0 .5rem;
        line-height: 50px;
        font-size: 2rem;
        color: var(--pink);
        cursor: pointer;
    }
    
    .menu{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .menu-item{
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .menu-link{
        font-family: var(--fonte-padrao);
        font-size: 1.5rem;
        color: var(--font-color1);
        transition: .7s;
    }
    
    .menu-link:hover{
        color: var(--green-blue);
    }

    /* light theme */
    .light #sidebar {
        background-color: var(--light100);
    }

    .light .menu-link {
        color: var(--font-color2);
    }

    .light .menu-link:hover{
        color: var(--green-blue);
    }
}