@charset "UTF-8";

:root{
    --dark:#121212;
    --dark200:#151515;
    --light:#ffffff;
    --lightgray:#c4c4c4;
    --blue:#00d2df;
    --gradientpink: linear-gradient(to right, #d24074, #6518b4);
    --gradientpurple: linear-gradient(to right, #9358f7, #10d7e2);

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-nome: 'Raleway', sans-serif;

}

body, html{
    background-color: var(--dark200);
    color: var(--lightgray);
    font-family: var(--fonte-padrao);
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
}

/*--------------inicio do header----------------*/

/*--------------Fim do header----------------*/



/*--------------inicio do home----------------*/

/*--------------Fim do home----------------*/