/* 
Paleta de cores:
1- #DCF2E6;
2- #36403A;
3- #BFBFBF;
4- #595959;
5- #262626;

Fontes:
Inter
https://fonts.google.com/specimen/Inter?query=inter&preview.text=Habilidades&preview.text_type=custom

Righteous
https://fonts.google.com/specimen/Righteous?preview.text=%3CMSH%3E&preview.text_type=custom


*/

:root{
    --cor1:#BFBFBF;
    --cor2:#595959;
    --cor3:#262626;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Righteous', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: var(--fonte-padrao);
    background-color: var(--cor3);
}

main{
    background-color: var(--cor3);
}

div#perfil > img{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

div#titulo > h1{
    text-align: center;
    font-size: 1em;
}

div#titulo > p{
    text-align: center;
    font-size: 1.5em;
}
