@charset "UTF-8";

/*
    Paleta de cores

    azul claro : #BBCDF2
    azul : #111559
    azul escuro : #010326
    contraste com o azul escuro : #1A0233
    cinza claro : #575458
    cinza escuro : #211D26
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #1A0233;
    height: 100vh;
    width: 100vw;
}
header{
    background-color: #211D26;
}
nav{
    background-color: #211D26;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.411);
}
nav > a{
    color: #575458;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
div{
    background-color: white;
    width: 400px;
    margin: auto;

}
footer{
    background-color: black;
    color: white;
    width: 100%;
}