@charset "UTF-8";

/*
    Paleta de cores


    azul escuro : #010326
    contraste com o azul escuro : #1A0233
    cinza claro : #575458
    cinza escuro : #211D26

    #FFEDD6 bege claro
    #CFB699 bege escuro
    #466E82 azul escuro
    #99BDCF azul claro
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1#eu{
    font-size: 1.2em;
}
img{
    margin: auto;
    width: 350px;
}
