@charset "UTF-8";

/*
    Paleta de cores

    verde escuro : #468000
    verde claro : 8DFF00
    azul claro : #020433
    azul escuro : #010326
    cinza claro : #5D5C66
    cinza escuro : #211D26

*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}


